@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
}

body {
    background-color: #352D4D;
}

main {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
}

h1 {
    margin: 5%;
    margin-bottom: 0;
    font-size: 250%;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h3 {
    margin: 5%;
    margin-top: 1%;
    font-size: 80%;
    color: #8390FA;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.container-img {
    grid-area: 1 / 4 / 5 / 8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    color: white;
    font-size: 110%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Roboto', sans-serif;
}

#cupnmug {
    grid-area: 2 / 1 / 5 / 4;
    width: 80%;
    margin-left: 10%;
}

#reidado {
    grid-area: 1 / 9 / 5 / 10;
    width: 150%;
}