@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@1,100&display=swap');

* {
    margin: 0;
}

body {
    background-color: #352D4D;
}

main {
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
}

h1 {
    margin: 5%;
    margin-bottom: 0;
    font-size: 250%;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}

h3 {
    margin: 5%;
    margin-top: 1%;
    font-size: 80%;
    color: #8390FA;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.container-img {
    grid-area: 1 / 4 / 5 / 8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.text {
    color: white;
    font-size: 110%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    font-family: 'Roboto', sans-serif;
}

#cupnmug {
    grid-area: 2 / 1 / 5 / 4;
    width: 80%;
    margin-left: 10%;
}

#reidado {
    grid-area: 1 / 9 / 5 / 10;
    width: 150%;
}

@media (min-width: 900px) and (max-width: 1400px) {
    
    .text {
        font-size: 100%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    
    #d1 {
        width: 35%;
    }

    #d2 {
        width: 35%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    h1 {
        font-size: 150%;
    }

    h3 {
        font-size: 70%;
    }
    
    .text {
        font-size: 70%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
    }
    
    #d1 {
        width: 35%;
    }

    #d2 {
        width: 35%;
    }
}

@media (max-width: 599px) {
    
    h1 {
        margin: 5%;
        margin-bottom: 0;
        font-size: 100%;
        color: white;
        text-align: center;
        font-family: 'Lobster', cursive;
    }
    
    h3 {
        margin: 5%;
        margin-top: 1%;
        font-size: 50%;
        color: #8390FA;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .container-img {
        grid-area: 1 / 3 / 5 / 9;
    }

    .text {
        font-size: 60%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 2%;
    }
    
    #d1 {
        width: 45%;
    }

    #d2 {
        width: 45%;
    }

    #reidado {
        display: none;
    }

    #cupnmug {
        display: none;
    }
}

@media (min-width: 1800px) {
    h1 {
        font-size: 400%;
        margin-top: 0;
    }

    h3 {
        font-size: 130%;
    }

    .text {
        font-size: 225%;
        margin-left: 3%;
        margin-right: 3%;
        margin-bottom: 2%;
    }
    
    #d1 {
        width: 35%;
    }

    #d2 {
        width: 35%;
    }    
}

/* finished */